.news {
    .news__preview {
        height: 400px;
        @media (max-width: 767px) {
            height: 250px;
        }
    }
    p {
        text-indent: 30px;
    }
    .news__input {
        height: 69px;
    }
}
